@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  font-family: "raleway";
  align-items: center;
}
.header .logo {
  font-size: 32px;
  color: #08A6E4;
  text-align: left;
  position: relative;
  left: 25px;
  margin: 17px;
  opacity: 1;
}
.header .navbar-element {
  padding: 0 26px;
}
.header .navbar-element:last-child {
  padding-right: 0;
}
.header .navbar-content {
  color: #A5A5A5;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}
.header .navbar-content:hover {
  color: #000000;
  transition: 2.5s;
}
@media screen and (min-width: 800px) {
  .header .navbar-content:hover {
    border-color: #08A6E4;
  }
}
@media screen and (min-width: 800px) {
  .header .navbar-content {
    border-bottom: 4px solid transparent;
  }
}
.header .navbar-list {
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 25px;
  top: 95px;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-bottom: 20px;
  display: none;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .header .navbar-list {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0px;
    left: -135px;
    padding: 1px;
    align-items: 95px;
  }
}
.header .navbar-list .navbar-element {
  padding: 0;
}
@media screen and (min-width: 800px) {
  .header .navbar-list .navbar-element {
    padding: 0px 42px 0px;
  }
}
.header .navbar-list .navbar-content {
  padding: 14px 20px;
  display: block;
  font-family: "Open Sans";
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3.28px;
  letter-spacing: 0.1875rem;
  text-decoration: none;
  opacity: 1;
}
@media screen and (min-width: 800px) {
  .header .menu {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
  }
}
.header .menu-btn {
  position: relative;
  right: 25px;
}
@media screen and (min-width: 800px) {
  .header .menu-btn {
    display: none;
  }
}
.header .menu-btn:checked ~ .navbar-list {
  display: flex;
}
.header .menu-btn:checked ~ .menu-toogle span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 5px);
}
.header .menu-btn:checked ~ .menu-toogle span:nth-child(2) {
  opacity: 0;
}
.header .menu-btn:checked ~ .menu-toogle span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}
.header .menu-toggle {
  display: block;
}
.header .menu-toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.header .menu-toggle span:last-child {
  margin-bottom: 0;
}

.main {
  width: 100%;
}
.main .main-container-text {
  display: block;
  position: relative;
  text-align: center;
}
.main-h1 {
  position: relative;
  top: 100px;
  margin: 1px;
  font-family: "raleway";
  font-weight: 400;
}
.main-p {
  position: relative;
  top: 100px;
  margin: 20px;
  font-family: "open sans";
  opacity: 1;
}
.main-btn {
  position: relative;
  top: 100px;
  width: 310px;
  height: 67px;
  margin: 50px;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  color: #F7F7F7;
  background-color: #08A6E4;
  border-radius: 40px;
  border: none;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
}
.main .main-bg-pic {
  width: 100%;
  position: relative;
  align-content: center;
  top: 100px;
  image-rendering: optimizeSpeed;
}