@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
}

.navbar {
  display: flex;
  color: #08A6E4;
  font-family: "raleway";
}

.logo {
  font-size: 32px;
  text-align: left;
  position: relative;
  left: 136px;
  top: 16px;
  margin: 16px;
}

.navbar-content {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 3px;
}