.arguments {
    background-color: map-get($colors, "light-grey");
    position: relative;
    
    .rectangle-tittle {
        font-size: 36px;
        font-family: 'Raleway';
        font-weight: normal;
        color: #000000;
        margin: 26 21 10 21;
    }

    .rectangle-text {
        font-size: 16px;
        font-family: 'Open Sans';
        font-weight: 200;
        color: #000000;
    }

    .rectangle7 {
        background-color: white;
        position: relative;
        // top: 42px;
        margin: 42 30 0;
        height: 370px;
        width: 314px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        &__img {
            width: 193px;
            height: 110px;
        }
    }

    
}