.arguments {
    background-color: map-get($colors, "light-grey");
    
    .rectangle-tittle {
        font-size: 36px;
        font-family: 'Raleway';
        font-weight: normal;
        color: #000000;
        margin: 26 21 10 21;
    }

    .rectangle-text {
        font-size: 16px;
        font-family: 'Open Sans';
        font-weight: 200;
        color: #000000;
    }

    .rectangle7 {
        background-color: map-get($colors,"white");
        position: relative;
        text-align: center;
        align-items: center;
        top: 42px;
        left: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        
        &__img {
            position: relative;
            top: 38px;
            left: 55px;
            right: 65px;
            width: 193px;
            height: 110px;
        }
        &__sqaure {
            background: map-get($colors, "red" );
            height: 127px;
            width: 127px;
            border-radius: 40%;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            position: relative;
            display: inline;
            top: 30px;
            left: 100px;
            z-index: 1;
        }
    }

    
}