.contact {
    .contact-tittle {
        margin-top: 77px;
        margin-left: 30px; 
        font-size: 40px;
        font-family: 'raleway';
        font-weight: 500;

    }
    .contact-text {
        margin-top: 5px;
        margin-left: 30px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
    }
    .contact-mail-icon {
        // display: inline;
        margin-top: 25px;
        margin-left: 30px;
        width: 27px;
        height: 27px;
    }
    .contact-mail-text {
        display: inline;
        position: relative;
        bottom: 7px;
        margin-left: 8px;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
        color: map-get($colors, "grey");
    }
    .contact-phone-icon {
        margin-top: 10px;
        margin-left: 30px;
        width: 27px;
        height: 27px;
    }
    .contact-phone-text {
        display: inline ;
        position: relative;
        bottom: 5px;
        margin-top: 5px;
        margin-left: 8px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
        color: map-get($colors, "grey");
    }
    .contact-name {
        display: block;
        margin: 53px 0px 0px 30px;
        font-size: 11px;
        font-family: 'open sans';
        color: map-get($colors, "primary");
        text-transform: uppercase;
    }
    .contact-name-input {
        display: block;
        margin: 32px 0px 0px 30px;
        border: none;
        border-bottom: 2px solid map-get($colors, "grey" );
    }
    .contact-email{
        display: block;
        margin: 42px 0px 0px 30px;
        font-size: 11px;
        font-family: 'open sans';
        color: map-get($colors, "primary");
        text-transform: uppercase;
    }
    .contact.checkbox {
        display: block;
        margin: 35px 0px 0px 30px;
        
    }
    .contact-checkbox-text {
        // display: inline;
    }
    .contact-btn {

    }
}