.contact {
    .contact-tittle {
        margin-top: 77px;
        margin-left: 30px; 
        font-size: 40px;
        font-family: 'raleway';
        font-weight: 500;

    }
    .contact-text {
        margin-top: 5px;
        margin-left: 30px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
    }
    .contact-mail-icon {
        // display: inline;
        margin-top: 25px;
        margin-left: 30px;
        width: 27px;
        height: 27px;
    }
    .contact-mail-text {
        display: inline;
        position: relative;
        bottom: 7px;
        margin-left: 8px;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
        color: map-get($colors, "grey");
    }
    .contact-phone-icon {
        margin-top: 10px;
        margin-left: 30px;
        width: 27px;
        height: 27px;
    }
    .contact-phone-text {
        display: inline ;
        position: relative;
        bottom: 5px;
        margin-top: 5px;
        margin-left: 8px;
        font-size: 16px;
        font-family: 'Open sans';
        font-weight: 400;
        color: map-get($colors, "grey");
    }
    .contact-name {
        display: block;
        margin: 53px 0px 0px 30px;
        font-size: 11px;
        font-family: 'open sans';
        color: map-get($colors, "primary");
        text-transform: uppercase;
    }
    .contact-name-input {
        display: block;
        margin: 32px 0px 0px 30px;
        border: none;
        border-bottom: 2px solid map-get($colors, "grey" );
    }
    .contact-email{
        display: block;
        margin: 42px 0px 0px 30px;
        font-size: 11px;
        font-family: 'open sans';
        color: map-get($colors, "primary");
        text-transform: uppercase;
    }
    .contact-end-container {
        margin: 35px 38px 0px 30px;
        display: inline-grid;
        grid-column: 2;
        grid-template-columns: 15% 85%;
        grid-template-rows: auto;
    }
    .contact-checkbox {
        grid-column: 1;
        width: 24px;
        height: 24px;
        :checked {
            background-image: url("/assets/Chechmark-1.svg");
            // coś tu nie bangla
        }
    }
    
    .contact-checkbox-text {
        grid-column: 2;
        font-size: 12px;
        font-family: 'open sans';
        color: map-get($colors, "grey" );
        cursor: auto;
    }
    .contact-btn {
        margin: 21px 33px 44px 116px;
        width: 226px;
        height: 57px;
        font-size: 13px;
        font-weight: 700;
        font-family: 'open sans';
        color: map-get($colors, "white" );
        background-color: map-get($colors, "primary" );
        box-shadow: 5px 10px 14px map-get($colors, "primary" );
        border-radius: 35px;
        border: none;

    }
}