.navbar {
    display: flex;
    font-family: 'raleway';
}

.logo {
    font-size: 32px;
    color: map-get($colors, "primary");
    text-align: left;
    position: relative;
    left: 136px;
    top: 16px;
    margin: 16px;
}

ul {
    list-style-type: none;
}
.navbar-content {
    font-family: 'Open Sans';
    font-size: 15px;
    letter-spacing: 3.28px;
    text-decoration: none;
}