// Mobile first methodology

.header {
    height: 70px;
    box-shadow: 0 3 6 map-get($colors, "secondary-shadow");
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        // przemyśleć ten height
        font-family: 'raleway';
        align-items: center;
    }

    .logo {
        font-size: 32px;
        color: map-get($colors, "primary");
        text-align: left;
        position: relative;
        left: 25px;
        top: 17px;
        margin: 17px;
        opacity: 1;
    }
        
    .navbar-element {
        padding: 0 26px;
            &:last-child{
                padding-right: 0;
            }
    }

        // Dotąd w miarę poprawione 13.07. !!!

    .navbar-content {
        color: map-get($colors, "grey");
        font-weight: 700;
        font-size: 0.6875rem;
        text-transform: uppercase;
        padding: 28px 18px 22px;
        border-bottom: 4px solid transparent;
        letter-spacing: 0.1875rem;
         &:hover {
            color: map-get($colors, "black");
            border-color: map-get($colors, "primary");
         }
    }

    .navbar-list {
        list-style-type: none;
        padding: 0;
        position: absolute;
        left: 0;
        top: 95px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding-bottom: 20px;
        display: none;
        @include lg {
            display: flex;
        }
        
        .navbar-element {
            padding: 0;
        }

        .navbar-content {
            
        }
    }



    .navbar-content {
        font-family: 'Open Sans';
        font-size: 11px;
        // albo w remach?? font-size: 0,6875rem;
        font-weight: 700;
        color: map-get($colors, "grey");
        text-transform: uppercase;
        letter-spacing: 3.28px;
        // letter-spacing: 0.1875rem;
        top: 100px;
        left: 25px;
        width: 60px;
        height: 15px;
        display: block;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        &:hover {
            color: map-get($colors, "black" );
            transition: 2s;
        }
    }

    .menu-btn{
        display: none;
        position: absolute;
        top: -9999px;
        left: -9999px;
        opacity: 0;
            &:checked {
                ~.nav-list {
                    display: flex;
                }
                ~.menu-toogle {
                    span {
                        &:nth-child(1) {
                            transform:rotate(45deg) translate(2px, 5px);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(2px, -5px);
                        }
                    }
                }
            }
    }
    

    span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 3px;
        background-color: map-get($colors, "primary");
        transition: .3s all ease-in-out;
    
        &:last-child {
            margin-bottom: 0;
        }
    // @include lg {
    //     display: none;
    // }
    }
    

}
