// @media screen and (max-width: 799px) {


// }

.main {
    &-container{

    }

    .main-container-text {
        display: block;
        position: relative;
        text-align: center;
    }

    &-h1 {

    }  

    &-p {

    }

    &-btn {

    }

    .main-bg-pic {
        width: 100%;
    }

}