// @media screen and (max-width: 799px) {


// }

.main {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;

        &-container{

        }

        .main-container-text {
            display: block;
            position: relative;
            text-align: center;
        }

        &-h1 {
            position: relative;
            margin: 0px;
            font-family: 'raleway';
            font-weight: 400;
        }  

        &-p {
            position: relative;
            margin-top: 20px;
            font-family: 'open sans';
            opacity: 1;
        }

        &-btn {
            position: relative;
            width: 310px;
            height: 67px;
            margin-top: 28px;
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 16px;
            color: map-get($colors, 'light-grey');
            background-color: map-get($colors, 'primary');
            border-radius: 40px;
            border: none;
            box-shadow: 5px 10px 14px #07ACE629;
            @include lg {
                width: 440px;
            }
        }

        .main-bg-pic {
            width: 220%;
            transform: translateX(-28%);
            // tę metodę powiększenia wziąłem z rozwiązania
            position: relative;
            margin-top: 51px;
            align-content: center;
            opacity: 1;

            @include lg {
                width: 100%;
                transform: none;
            }
            
            // image-rendering: optimizeSpeed;

        }

}