.navbar {
    display: flex;
    color: map-get($colors, "primary");
    font-family: 'raleway';
}

.logo {
    font-size: 32px;
    text-align: left;
    position: relative;
    left: 136px;
    top: 16px;
    margin: 16px;
}

.navbar-content {
    font-family: 'Open Sans';
    font-size: 15px;
    letter-spacing: 3px;
}